      </textarea>
      </p>
      <p style="display: none">
      <input name="news[cc_licensed]" type="hidden" value="0" /><input id="news_cc_licensed" name="news[cc_licensed]" type="checkbox" value="1" checked='true' />
      <label for="news_cc_licensed">Je place ce document sous licence Creative Commons Paternité-Partage des Conditions Initiales à l'Identique 3.0 (<a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">licence CC by-sa</a>)</label>
      </p>
      <p>
      <label for="news_message">Si vous le souhaitez, vous pouvez laisser un message à l'équipe de modération</label>
      <br/>
      <textarea id="news_message" name="news[message]" spellcheck="true"></textarea>
      </p>
      <p>
      <input id="news_preview" name="commit" type="submit" value="Prévisualiser" />
      </p>
    </form>

    <script src="/assets/application-f1b8061e3b542c035ac73254f0419fe5af6044926efdb5b11b13356721221929.js" type="text/javascript"></script>
  </body>
</html>
